<nav class="sidebar">
    <header>
      <div class="image-text">
        <span class="image">
            <img src="../../assets/img/logo.png" alt="Logo GYM">
        </span>
  
        <div class="text logo-text">
          <span class="name">GYM</span>
          <span class="profession">Gimnasio ETITC</span>
        </div>
      </div>
      <i class="bx bx-chevron-right toggle"></i>
    </header>
    
    <div class="menu-bar">
      <div class="menu">
        <!-- <div class="text logo-text">
          <span class="profession">Hola {{user}}<br><span style="font-size: 12px;">Eres {{role}}</span></span>
        </div> -->

        <ul class="menu-links">
          <li class="nav-link usuario link-block-sidebar">
            <a routerLink="inicio" routerLinkActive="active">
              <i class="bx bx-home-alt icon"></i>
              <span class="text nav-text">Inicio</span>
            </a>
          </li>
  
          <li class="nav-link administrador link-block-sidebar">
            <a routerLink="usuarios">
              <i class='bx bx-user-circle icon'></i>
              <span class="text nav-text">Usuarios</span>
            </a>
          </li>
  
          <li class="nav-link entrenador link-block-sidebar">
            <a routerLink="implementos">
              <i class='bx bx-football icon'></i>
              <span class="text nav-text">Implementos</span>
            </a>
          </li>
  
          <li class="nav-link entrenador link-block-sidebar">
            <a routerLink="maquinarias">
              <i class='bx bx-dumbbell icon'></i>
              <span class="text nav-text">Maquinaria</span>
            </a>
          </li>
  
          <li class="nav-link usuario link-block-sidebar">
            <a routerLink="rutinas">
              <i class="bx bx-heart icon"></i>
              <span class="text nav-text">Rutinas</span>
            </a>
          </li>
  
          <li class="nav-link entrenador link-block-sidebar">
            <a routerLink="">
              <i class='bx bx-run icon'></i>
              <span class="text nav-text">Sesiones</span>
            </a>
          </li>

          <li class="nav-link usuario link-block-sidebar">
            <a routerLink="">
              <i class='bx bxs-credit-card icon'></i>
              <span class="text nav-text">Planes</span>
            </a>
          </li>
        </ul>
      </div>
  
      <div class="bottom-content">
        <li class="">
          <a routerLink="#" (click)="logout()">
            <i class="bx bx-log-out icon"></i>
            <span class="text nav-text">Cerrar Sesion</span>
          </a>
        </li>
  
        <li class="mode">
          <div class="sun-moon">
            <i class="bx bx-moon icon moon"></i>
            <i class="bx bx-sun icon sun"></i>
          </div>
          <span class="mode-text text">Dark mode</span>
  
          <div class="toggle-switch">
            <span class="switch"></span>
          </div>
        </li>
      </div>
    </div>
  </nav>
  

  