
<!--FORMULARIO---->
<form class="form" (ngSubmit)="onSubmitMaquinaria()" #maquinariaForm = "ngForm">
        
    <!--TITULO------------------------>
    <h1 class="titulo">Actualizar Maquinaria</h1>
    
    <!--CAJAS-DE-ENTRADA-DE-DATOS------------------------------------------------>
    <input class="cajas" type="text" [(ngModel)]="maquinaria.nombreMaquinaria" placeholder="Nombre" id="nombreMaquinaria" name="nombreMaquinaria" #nombreMaquinaria="ngModel">
    <textarea class="cajas" name="descripcionMaquinaria" id="descripcionMaquinaria" cols="30" rows="5" [(ngModel)]="maquinaria.descripcionMaquinaria" placeholder="Descripcion" #descripcionMaquinaria="ngModel"></textarea>
    <input class="cajas" type="text" [(ngModel)]="maquinaria.categoriaMaquinaria" placeholder="Categoria" id="categoriaMaquinaria" name="categoriaMaquinaria" #categoriaMaquinaria="ngModel">
    
    <!--BOTON-DE-ACTUALIZAR-------------------------->
    <button class="btn" [disabled]= "!maquinariaForm.form.valid">Guardar</button>
    <!--BOTON-DE-volver-------------------------->
    <button class="btn" routerLink = "../../maquinarias">
        Regresar
    </button>
    
</form>