
    <!--FORMULARIO---->
    <form class="form" (ngSubmit)="onSubmitMaquinaria()">
            
        <!--TITULO------------------------>
        <h1 class="titulo">Registrar Maquinaria</h1>
        
        <!--CAJAS-DE-ENTRADA-DE-DATOS------------------------------------------------>
        <label for="serialMaquinaria" class="cajas-texto">Serial</label>
        <input class="cajas" type="text" [(ngModel)]="maquinaria.serialMaquinaria" id="serialMaquinaria" name="serialMaquinaria" #serialMaquinaria="ngModel">
        <label for="nombreMaquinaria" class="cajas-texto">Nombre</label>
        <input class="cajas" type="text" [(ngModel)]="maquinaria.nombreMaquinaria" id="nombreMaquinaria" name="nombreMaquinaria">
        <label for="descripcionMaquinaria" class="cajas-texto">Descripcion</label>
        <textarea class="cajas" name="descripcionMaquinaria" id="descripcionMaquinaria" cols="30" rows="2" [(ngModel)]="maquinaria.descripcionMaquinaria"></textarea>
        <label for="estadoMaquinaria" class="cajas-texto">Estado</label>
        <select class="cajas" type="text" [(ngModel)]="maquinaria.estadoMaquinaria" id="estadoMaquinaria" name="estadoMaquinaria">
            <option>En Uso</option>
            <option>Disponible</option>
            <option>En Mantenimiento</option>
        </select>
        <label for="categoriaMaquinaria" class="cajas-texto">Categoria</label>
        <input class="cajas" type="text" [(ngModel)]="maquinaria.categoriaMaquinaria" id="categoriaMaquinaria" name="categoriaMaquinaria">
        
        <!--BOTON-DE-REGISTRARSE-------------------------->
        <button class="btn" style="margin-right: 20px;">
            Registrar
        </button>
        <!--BOTON-DE-VOLVER-------------------------->
        <button class="btn" routerLink = "../../maquinarias">
            Regresar
        </button>
        
    </form>